* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
    color: white;
}

body {
    background-color: #2C3333;
    
    overflow: hidden;
}

header {
    background-color: #395B64;
    
    height: 70px;
    
    border-bottom: 1px solid #2d474f;
}

input {
    background-color: #252b2b;
    border: none;
}

div#todos div.el input:focus {
    outline: 1px solid #2666CF;
}

div#todos div.el input:hover {
    border-bottom: 1px solid #2666CF;
}

div#todos div.el input[type="text"] {
    padding: 5px;
    
    width: 93%;
}

div#todos div.el i {
    margin-left: 2%;
}

div#todos div.el i:hover {
    color: lightgray;
}

input#todo {
    position: relative;
    bottom: 10px;
    
    margin-left: 50%;
    transform: translateX(-50%);
    
    margin-top: 20px;
    
    font-size: 15px;
    border-radius: 20px;
    
    padding: 15px;
    
    width: 30%;
    
    transition: outline 0.5s;
}

input#todo:focus {
    outline: 2px solid #2666CF;
    
    width: 30%;
}

a {
    text-decoration: none;
}

button#add {
    background-color: white;
    color: #252b2b;
    
    position: absolute;
    
    /*bottom: 10px;*/
    /*right: 18.5%;*/
    top: 18px;
    
    font-size: 18px;
    
    width: 33px;
    height: 33px;
    
    font-weight: bold;
    border-radius: 20px;
    
    border: 1px solid white;
    outline: none;
    
    cursor: pointer;
    
    transition: background-color 0.25s;
}

button#add:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
}

div#todos, div#empty {
    width: 100%;
    height: calc(100vh - 70px);
    
    margin-top: 20px;
    
    overflow-y: auto;
}

div.el {
    width: 70%;
    padding: 15px;
    
    border-radius: 10px;
    
    background-color: #252b2b;
    
    margin-left: 50%;
    transform: translateX(-50%);
    
    margin-bottom: 10px;
}

div.el * {
    display: inline-block;
}

div.el input[type="checkbox"] {
    float: right;
    
    margin-top: 5px;
    margin-right: 10px;
    transform: scale(1.2);
}

.done input[type="text"] {
    text-decoration: line-through;
}

.del {
    position: relative;
    bottom: 43px;
    
    margin-left: 67%;
    transform: translateX(-50%);
    transform: scale(1.3);
}

header i:hover {
    color: lightgray;
}

#empty * {
    margin-left: 50%;
    margin-top: 50px;
}

#empty h1, p {
    position: relative;
    right: 24%;
    
    text-align: center;
}

#empty p {
    bottom: 40px; /* 30px */
}

#empty i {
    transform: scale(3);
}

@media screen and (max-width: 500px) {
    input#todo {
        width: 70%;
    }
    
    input#todo:focus {
        width: 70%;
    }
    
    i#clear {
        position: absolute;
        
        right: 20px;
        top: 125px;
    }
    
    div.el input[type="text"] {
        width: 20%;
    }
}
